version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel_app
    container_name: laravel_app
    volumes:
      - .:/var/www
    ports:
      - 9000:9000
    networks:
      - laravel
    depends_on:
      - redis

  webserver:
    image: nginx:alpine
    container_name: laravel_webserver
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8000:80
    networks:
      - laravel
    depends_on:
      - app

  db:
    image: postgres:15
    container_name: laravel_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: test_php_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - laravel

  redis:
    image: redis:alpine
    container_name: laravel_redis
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    networks:
      - laravel
    command: redis-server --appendonly yes

networks:
  laravel:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
